<div class="container mx-auto p-4">
  <h2 class="text-2xl font-semibold text-gray-800">Employee Management</h2>
  <button 
    (click)="openModal()"
    class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition-colors mb-4"
  >
    Add Employee
  </button>

  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Employee Number</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">First Name</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Last Name</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Employee Roles</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let employee of employees">
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ employee.EmployeeNumber }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ employee.EmployeeEmail }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ employee.FirstName }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ employee.LastName }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
            <span *ngIf="employee.EmployeeRoles.length === 0" class="text-gray-500">No Roles</span>
            <span *ngFor="let role of employee.EmployeeRoles" 
                  class="rounded-full px-2 py-1 text-xs font-semibold text-gray-700 bg-gray-200">
              {{ role.roleDetail.roleName }}
            </span>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <button (click)="editEmployee(employee)" class="text-indigo-600 hover:text-indigo-900 mr-3">Edit</button>
            <button (click)="deleteEmployee(employee.EmployeeNumber)" class="text-red-600 hover:text-red-900">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Include the Employee Modal -->
  <app-employee-modal 
    *ngIf="isModalOpen" 
    [employee]="selectedEmployee"
    [supervisors]="supervisors"
    (save)="saveEmployee($event)" 
    (close)="closeModal()">
  </app-employee-modal>
</div>
